.card-container{
  padding-top: 120px;
  padding-bottom: 70px;
  color: black;
}
.small-card{
  color:black;
}

.second-navbar{
  color:black;
  padding-left: 420px;
}

.service-grid{
  color:black;
}